$desktop-width: 1920px;
$tablet-width: 1023px;
$mobile-width: 767px;

$white: #ffffff;
$white-01: rgba(255, 255, 255, 0.1);
$black: #000000;
$tangaroa: #1b2d37;
$dim-gray: #666666;
$deep-sky-blue: #00b2ff;
$summer-sky: #4db7e5;
$light-grey: #cdcdcd;
$finlandia: rgba(98, 105, 98, 0.2);
$silver: #c4c4c4;
$whisper: #ebebeb;
